:root {
  --background-color: #ffffff; /* Default background color */
  --text-color: #000000; /* Default text color */
  --heading-color:#444444;
}

.app{
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}
.headingandbtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-theme="light"]{
  --background-color: #ffffff;
  --text-color: #333333;
  --heading-color:#444444;
}

[data-theme="dark"]{
  --background-color: #333333;
  --text-color: #ffffff;
  --heading-color:#e6d3d3;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h3{
  color:var(--heading-color);
}